body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: bisque;
  display: flex;
  gap: 20px;
}

#movies {
  width: 25%;
  background: white;
  padding: 15px;
  border-radius: 8px;
  height: 90vh;
  overflow-y: auto;
}

.movie-item {
  padding: 10px;
  margin: 5px 0;
  background: lightgray;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
}

.movie-item:hover {
  background: darkgray;
}

#my-movie-details {
  width: 70%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#movie-poster {
  width: 50%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}
